* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

/* shared styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.text-dark {
    color: #3A3A3A;
}
.text-light {
    color: #787885;
}
.text-center {
    text-align: center;
}

/* main styles */
/* nav styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.navbar h2 {
    font-weight: 700;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navbar ul a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}
.btn {
    background-color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}
.btn:hover {
    background-color: #e02c6ea3;
}

/* hero styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.hero-left {
    max-width: 582px;
}
.hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
.hero-desc {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.circle {
    position: absolute;
}
.camera {
    position: relative;
    top: 20px;
}

/* logos styles */
.logos {
    margin-bottom: 100px;
    max-width: 1100px;
}
.logos-hr1 {
    height: 1px;
    color: #C0CCDA;
    opacity: 30%;
    margin-bottom: 30px;
}
.logos-hr2 {
    height: 1px;
    color: #C0CCDA;
    opacity: 30%;
    margin-top: 30px;
}
.logos-image {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* popular styles */
.popular-container {
    max-width: 1000px;
}
.popular-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}
.popular-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.popular-card {
    max-width: 325px;
    border-radius: 5px;
    padding: 14px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.popular-card-image {
    border-radius: 5px;
}
.popular-card-title {
    margin-top: 1rem;
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: 500;
}
.popular-card-price {
    font-size: 1rem;
}
.popular-card-stars {
    padding-top: 8px;
    padding-bottom: 8px;
}
.popular-card-star {
    width: 16px;
    height: 16px;
    color: #FB8200;
}
.popular-card-star-price {
    font-size: 14px;
    font-weight: 700;
    color: #5E6366;
    margin-left: 8px;
}
.popular-card-footer-desc {
    max-width: 195px;
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.popular-btn-container {
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}
.popular-btn {
    background-color: #FFFFFF;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
}
.popular-btn:hover {
    background-color: #FFFFFF;
}

/* feature styles */
.feature-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.feature-title {
    color: #0A0826;
    font-size: 2rem;
    font-weight: 700;
}
.feature-desc {
    font-size: 1rem;
    font-weight: 700;
    color: #6C6C6C;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 500px;
}
.feature-btn {
    border-radius: 0%;
}

/* footer styles */
footer {
    background-color: rgb(10, 8, 38);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-title {
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 700;
}
.footer-copyright, .footer-copyright2 {
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
    line-height: 24px;
    margin-bottom: 17px;
}
.footer-icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.footer-icons i {
    color: #FFFFFF;
    background-color: rgb(34, 32, 59);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 5px;
    cursor: pointer;
}



/* Responsive */
/* small device */
@media screen and (max-width: 576px) {
    /* nav styles */
    .navbar {
        flex-direction: column;
        gap: 20px;
    }
    /* hero styles */
    .hero-container {
        flex-direction: column-reverse;
        gap: 80px;
        padding: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
    .hero-title {
        font-size: 2rem;
        line-height: auto;
    }
    .hero-desc {
        font-size: 14px;
    }
    .hero-right img {
        max-width: 255px;
    }

    /* logos styles */
    .logos {
        padding: 20px;
        margin-bottom: 50px;
    }
    .logos-image {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;
    }

    /* popular styles */
    .popular-container {
        margin-bottom: 50px;
    }
    .popular-title {
        font-size: 1.5rem;
    }
    .popular-card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        place-items: center;
    }

    /* feature styles */
    .feature-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px;
        margin-bottom: 50px;
    }
}